{% extends "index.html" %}
{% block content %}
    <p>Select an existing text, or upload a new one.</p>
    <form id="choosetext" action="loadtext" method="post" enctype="multipart/form-data">
        {% if saved.first() is not none %}
        <div class="row">
          <div class="col-6">
            <label for="savedtext">Previously saved texts: </label>
            <select id="savedtext" name="savedtext">
            {% for text in saved %}
                <option value="{{ text.id() }}">{{ text.title }}</option>
            {% endfor %}
            </select>
            <button id="loadsaved" class="btn btn-primary">Load saved text</button>
          </div>
        </div>
        {% endif %}
        <div class="row">
          <div class="col-6">
            <label for="newtext">New (plaintext) file to upload: </label>
            <input id="newtext" type="file" name="file" class="form-control-file"><br>
            <label for="newtitle">Title for this text: </label>
            <input id="newtitle" name="newtitle"><br>
            <label for="parasplit">Split paragraphs by: </label>
            <select id="parasplit" name="parasplit">
                <option value="nowrap" selected>Newlines (no hard wrapping)</option>
                <option value="indent">First line is indented</option>
                <option value="spacesep">Separated by blank lines</option>
            </select>
            <button id="loadnew" class="btn btn-primary">Upload new text</button>
          </div>
        </div>
    </form>
{% endblock %}